
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding:0 2%;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
padding:5px 0;

}


.logo{
    width: 10%;
}

.menu{
    padding:25px 0;
font-family: 'Raleway', sans-serif;

    width: 90%;
    text-align: right;
}

.menu a{
    color:black;
    margin-right: 25px;
    text-decoration: none;
    font-weight: bold;
}

.conteudo{
    height: 9000px;
    text-align: center;
    padding: 300px 0;
    font-family: 'Raleway', sans-serif;
    font-size:xx-large;
    color:white
}

.formulario{
   
    text-align: center;
  
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color:black;
}

.pesquisa{
    text-align: center;
}

